@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "./_colors";

body {
    font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    #app {
        padding: 60px 0 0;
        color: $dark;
        min-height: 100vh;

        .wrapper {
            margin: 0 auto;
            max-width: 1264px;
            padding: 0 15px;
        }

        .content {
            padding: 40px 0;
            min-height: 100vh;
        }

        .card-list {
            display: grid;
        }

        .filter-block {
            display: grid;
            grid-gap: 20px;
            align-items: center;
            margin-bottom: 20px;

            @media screen and (min-width: 960px) {
                grid-template-columns: 1fr minmax(auto, 200px) minmax(auto, 200px);
            }

            &__title {
                font-size: 1.2em;
            }
        }

        blockquote {
            font-size: 2em;
            line-height: 1.2;
            font-size: 1.3em;
            font-weight: bold;
            font-style: italic;
            position: relative;
            margin: 0;
            padding: 10px 20px 10px 35px;

            svg {
                position: absolute;
                left: 0;
                transform: rotate(180deg);
            }
        }

        .form {
            &-item {
                &__label {
                    font-size: .8em;
                    display: block;
                    margin-bottom: 5px;
                }
            }

            &-input,
            &-select {
                // background-color: none;
                border: 2px solid rgba($dark, 0.1);
                border-radius: 4px;
                padding: 10px;
                font-size: .8em;
                width: 100%;
            }
        }

        .icon {
            &__button {
                cursor: pointer;
                background-color: transparent;
                border: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                min-width: 38px;
                min-height: 38px;
            }
        }

        &.dark {
            color: $white;
            background-color: $darker;

            .form {
                &-input,
                &-select {
                    background-color: rgba($dark, 0.3);
                    border-color: rgba($blue, 0.2);
                    color: $white;
                }
            }
        }
    }
}