<template>
    <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        :height="size"
        :width="size"
        viewBox="0 0 512 512"
        style="enable-background: new 0 0 512 512"
        xml:space="preserve"
    >
        <path
            :fill="bg_color"
            d="M263,503.515c100.084,0.068,190.901-58.591,231.987-149.85
            c-32.889,14.934-68.595,22.63-104.708,22.571c-140.55,0.034-254.524-113.872-254.558-254.422
            c-0.008-36.156,7.688-71.896,22.571-104.844C30.165,74.848-26.779,225.631,31.098,353.75C72.269,444.89,162.993,503.481,263,503.515
            z"
        />
        <g :stroke="border_color">
        <path
            :fill="border_color"
            stroke-width="10"
            d="M263,512C117.724,511.949-0.008,394.148,0.042,248.872C0.076,145.522,60.627,51.777,154.813,9.232
            L175.331,0l-9.334,20.483c-14.45,31.777-21.883,66.287-21.79,101.195c0.153,135.84,110.232,245.92,246.072,246.072
            c34.908,0.085,69.426-7.348,101.195-21.807l20.483-9.334l-9.232,20.534C460.155,451.356,366.385,511.932,263,512z M142.001,34.705
            C23.648,101.509-18.133,251.613,48.68,369.957s216.908,160.134,335.252,93.321c39.024-22.028,71.293-54.297,93.321-93.321
            c-27.942,9.834-57.352,14.832-86.974,14.764c-145.208-0.17-262.873-117.835-263.043-263.043
            C127.168,92.056,132.166,62.647,142.001,34.705z"
        />
        </g>
    </svg>
</template>

<script>
export default {
	props: {
		size: {
			type: String,
			default: "24",
		},
		border_color: {
			type: String,
			default: "#00205b",
		},
        bg_color: {
			type: String,
			default: "#ffda44",
		},
	},
};
</script>