<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		xmlns:svgjs="http://svgjs.com/svgjs"
		version="1.1"
		:width="size"
		:height="size"
		x="0"
		y="0"
		viewBox="0 0 93.08 93.08"
		style="enable-background: new 0 0 512 512"
		xml:space="preserve"
		class=""
	>
		<g xmlns="http://www.w3.org/2000/svg">
			<polygon
			points="91.405,67.947 85.546,67.947 67.369,18.558 46.539,48.683 24.275,18.916 7.534,67.947 1.675,67.947 0,74.522    22.242,74.522 30.973,50.486 46.803,71.626 46.898,71.759 46.995,71.626 62.107,50.486 70.838,74.522 93.08,74.522  "
			fill="#ffffff"
			data-original="#000000"
			style=""
			class=""
			/>
		</g>
  	</svg>
</template>

<script>
export default {
	props: {
		size: {
			type: String,
			default: "24",
		},
	},
};
</script>