<template>
	<div class="home">
		<Loading text="Loading users..." v-if="is_loading" />
		
		<section class="filter-block" v-if="!is_loading">
			<h2 class="filter-block__title" v-text="'Users'"></h2>
			
			<div class="form-item">
				<label class="form-item__label" for="sort">Search:</label>
				<input class="form-input" type="search" @keypress="inputFilter" v-model="search_user">
			</div>
			
			<div class="filter-block__inputs">
				<div class="form-item">
					<label class="form-item__label" for="sort">Sort by:</label>
					<select class="form-select" name="sort" id="sort" @change="sortUsers" v-model="sort_users">
						<option value="name" selected>Name</option>
						<option value="username">Username</option>
						<option value="email">Email</option>
					</select>
				</div>
			</div>
		</section>

		<section class="card-list" v-if="!is_loading">
			<UserCard
				v-for="(user, index) in filteredUsers"
				:key="index"
				:id="user.id"
				:name="user.name"
				:username="user.username"
				:email="user.email"
				:favorite="false"
			/>
		</section>

		<p v-html="`No user matches the name <b>${search_user}</b>`" v-if="users.length > 1 && filteredUsers.length === 0"></p>
	</div>
</template>

<script>
import axios from "axios"
import { mapGetters } from "vuex"

import UserCard from "@/components/UserCard"
import Loading from "@/components/Loading"

export default {
  	name: "Home",
  	
	components: {
    	UserCard,
		Loading
  	},
	
	data() {
		return {
			users: [],
			search_user: "",
			sort_users: "name",
			is_loading: true
		}
	},

	mounted() {
		this.getUsers()
	},

	methods: {
		getUsers() {
			try {
				axios
				.get('http://jsonplaceholder.typicode.com/users')
				.then(({data}) => {
					this.users = data
					
					setTimeout(() => {
						this.is_loading = false
					}, 500)
				})
			} catch(err) {
				console.log(err)
			}
		},

		inputFilter(event) {
			this.search_user = event.target.value
		},

		sortUsers: function(event) {
			this.users.sort((a, b) => {
				if (this.sort_users === "name") {
					return a.name > b.name ? 1 : -1
				} else if (this.sort_users === "username") {
					return a.username > b.username ? 1 : -1
				}

				return a.email > b.email ? 1 : -1
			})
		}
	},

	computed: {
		filteredUsers() {
			return this.users.filter((user) => {
				return user.name.toLowerCase().includes(this.search_user.toLowerCase()) || 
				user.username.toLowerCase().includes(this.search_user.toLowerCase()) || 
				user.email.toLowerCase().includes(this.search_user.toLowerCase())
			})
		},
	},
};
</script>