<template>
    <div class="user-detail">
        <Loading v-if="is_loading" />

        <div class="user-detail__content" v-if="!is_loading">
            <div class="user-detail__top">
                <router-link to="/" class="user-detail__back" v-text="'Users'"></router-link>
                <ArrowIcon size="15" :color="GET_DARK_MODE ? '#ffffff' : ''" />
                <h2 class="user-detail__name" v-text="name"></h2>
            </div>
            
            <section class="user-detail__info">
                <UserInfo
                    title="Contact Info"
                    :username="username"
                    :email="email"
                    :phone="phone"
                    :website="website"
                />

                <UserInfo
                    title="Address"
                    :address="address"
                />

                <UserInfo
                    title="Company"
                    :company="company"
                />
            </section>

            <section class="post-list">
                <h3 class="post-list__title">Posts</h3>

                <div class="post-list__cards">
                    <PostCard 
                        v-for="(post, index) in posts"
                        :key="index"
                        :body="post.body"
                        :title="post.title"
                    />
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import axios from "axios"
import { mapGetters } from "vuex"

import UserInfo from "@/components/UserInfo.vue"
import PostCard from "@/components/PostCard.vue"
import ArrowIcon from "@/icons/Arrow.vue"
import Loading from "@/components/Loading"

export default {
    name: "User",
  	
	components: {
    	UserInfo,
        PostCard,
        ArrowIcon,
        Loading
  	},

    data() {
		return {
            id        :  this.$route.params.id,
			name      : "",
            email     : "",
            address   : "",
            phone     : "",
            username  : "",
            website   : "",
            company   : {},
            posts     : [],
            is_loading: true
		}
	},

    mounted() {
        this.getUserData()
        this.getPosts()
	},

    methods: {
        getUserData() {
            try {
                axios
                .get(`http://jsonplaceholder.typicode.com/users/${this.id}`)
                .then((
                    {data: {
                        name     = "",
                        email    = "",
                        phone    = "",
                        username = "",
                        website  = "",
                        company  = {},
                        address: {
                            suite = "",
                            street = "",
                            city = "",
                            zipcode = ""
                        } = {},
                    } = {}
                }) => {
                    this.name     = name
                    this.email    = email
                    this.address  = `${suite} ${street}, ${city}, ${zipcode}`
                    this.phone    = phone
                    this.username = username
                    this.website  = website && `http://${website}`
                    this.company  = company
                })
            } catch(err) {
				console.log(err)
			}
        },

        getPosts() {
            axios
            .get(`http://jsonplaceholder.typicode.com/posts?userId=${this.id}`)
            .then(({data = []}) => {
                this.posts = data
                
                setTimeout(() => {
					this.is_loading = false
				}, 500)
            })
        }
    },

    computed: {
    	...mapGetters(["GET_DARK_MODE"]),
  	},
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/__colors";

.user-detail {
    &__top {
        display: grid;
        grid-template-columns: auto 40px 1fr;
        align-items: center;
        margin-bottom: 20px;
    }

    &__back {
        font-weight: 600;
        text-decoration: none;
        font-size: 1.3em;

        &:hover {
            text-decoration: underline;
        }

        .dark & {
            color: $white;
        }
    }

    &__name {
        font-size: 1.3em;
    }

    &__info {
        display: grid;
        grid-gap: 20px;
        margin-bottom: 40px;

        @media screen and (min-width: 960px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .post-list {
        &__title {
            font-size: 20px;
            margin-bottom: 20px;
        }

        &__cards {
            display: grid;
            grid-gap: 20px;

            @media screen and (min-width: 960px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}
</style>