<template>
    <footer class="footer">
        <div class="wrapper">
            <p class="footer__text">Designed and developed with ❤️ by <a href="http://www.leonardofunez.com" target="_blank"><strong>Leonardo Funez</strong></a></p>
        </div>
    </footer>
</template>

<style lang="scss" scoped>
@import "@/assets/scss/__colors";

.footer {
    padding: 40px 15px;
    
    &__text {
        text-align: center;
        font-size: .9em;
        line-height: 1.4;
        max-width: 230px;
        margin: 0 auto;

        a {
            color: $blue;

            &:hover {
                text-decoration: none;
            }
        }

        @media screen and (min-width: 960px) {
            max-width: initial;
        }
    }
}
</style>