<template>
    <header class="header">
        <div class="wrapper">
            <router-link class="header__home" to="/">
                <Logo size="40" />
            </router-link>
            
            <h1 class="header__title" v-text="getRouterName"></h1>
            

            <div class="header__darkmode" @click="setDarkMode">
                <Dark 
                    :bg_color="GET_DARK_MODE ? '#ffda44' : 'transparent'" 
                    :border_color="GET_DARK_MODE ? '#ffda44' : '#ffffff'"
                    size="25"
                />
            </div>
        </div>
    </header>
</template>

<script>
import { mapActions, mapGetters } from "vuex"
import Logo from "@/icons/Logo"
import Dark from "@/icons/Dark"

export default {
    components: {
        Logo,
        Dark
    },

    methods: {
        ...mapActions(["SET_DARK_MODE"]),

        setDarkMode(){
            this.SET_DARK_MODE(!this.GET_DARK_MODE)
        }
    },

    computed: {
    	...mapGetters(["GET_DARK_MODE"]),
        
        getRouterName() {
            return this.$route.name;
        }
  	},
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/__colors";

.header {
    background: $blue;
    background-image: linear-gradient(to right, $blue, $purple);
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__home,
    &__darkmode {
        cursor: pointer;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: $white;
        font-size: 1.24em;
        text-align: center;
    }
}
</style>