<template>
    <div class="loading">
        <p class="loading__text" v-text="text"></p>
    </div>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            default: "Loading..."
        }
    }
}
</script>

<style lang="scss" scoped>
    .loading {
        padding: 40px 15px;

        &__text {
            text-align: center;
            font-size: .8em;
            font-weight: 600;
        }
    }
</style>