<template>
    <article class="post-card">
        <h3 class="post-card__title" v-text="title"></h3>
        <div class="post-card__body" v-html="body"></div>
    </article>
</template>

<script>
export default {
    props: {
        body: String,
        title: String
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/__colors";

.post-card {
    padding: 25px 15px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba($dark, 0.2);

    &__title {
        font-size: .9em;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    &__body {
        font-size: .8em;
        line-height: 1.4;
    }

    .dark & {
        background-color: rgba($white, 0.06);
    }
}
</style>