<template>
    <router-link class="user-card" :to="`/users/${id}`" tag="article">
        <figure class="user-card__avatar">
            <ProfileIcon
                :border_color="GET_DARK_MODE ? '#ffffff' : ''"
            />
        </figure>

        <div class="user-card__info">
            <h2 class="user-card__name" v-text="name"></h2>
            <h3 class="user-card__username" v-text="username"></h3>
            <span class="user-card__email" @click.prevent="goToMail" v-text="email"></span>
        </div>

        <LikeIcon 
            size="18" 
            :border_color="GET_DARK_MODE ? '#ffffff' : '#00205b'" 
            :is_active="is_favorite" 
            @click.native.prevent="addToFavorite"
        />
    </router-link>
</template>

<script>
import { mapGetters, mapActions } from "vuex"
import LikeIcon from "@/icons/Like"
import ProfileIcon from "@/icons/Profile"

export default {
    components: {
        LikeIcon,
        ProfileIcon
    },

    props: {
        id: Number,
        name: {
            type: String,
            required: true
        },
        username: String,
        email: String,
        favorite: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            is_favorite: this.favorite
        }
    },

    mounted() {
        this.isFavorite()
    },

    updated() {
        this.isFavorite()
    },

    methods: {
        ...mapActions(["SET_FAVORITES"]),

        goToMail() {
            window.location = `mailto:${this.email}`
        },

        isFavorite() {
            let fav_users = this.GET_FAVORITES
            const idx = fav_users.indexOf(this.username)
            this.is_favorite = idx !== -1 ? true : false
        },

        addToFavorite() {
            let fav_users = this.GET_FAVORITES
            const idx = fav_users.indexOf(this.username)
            
            if (idx === -1) {
                fav_users.push(this.username)
                this.is_favorite = true
            } else {
                const new_list = fav_users.filter(username => username !== fav_users[idx])
                fav_users = new_list
                this.is_favorite = false
            }

            this.SET_FAVORITES(fav_users)
        }
    },

    computed: {
    	...mapGetters(["GET_DARK_MODE", "GET_FAVORITES"]),
  	},
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/__colors";

.user-card {
    cursor: pointer;
    display: grid;
    grid-template-columns: 70px 1fr 38px;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 0 rgba($dark, 0);
    transition: box-shadow .4s ease-in-out;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-image: linear-gradient(to right, transparent, rgba($dark, 0.1), transparent);

        .dark & {
            background-image: linear-gradient(to right, transparent, rgba($white, 0.1), transparent);
        }
    }

    &__avatar {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin: 0;
        background-color: rgba($blue, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;

        .dark & {
            background-color: rgba($blue, 0.2);
        }
    }

    &__info {
        display: grid;
        grid-template-columns: [col_left] 1fr;
        
        @media screen and (min-width: 960px) {
            grid-template-columns:
                [col_left] 1fr
                [col_right] auto;
        }

        * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__name {
        font-size: 1em;
        grid-column: col_left;
    }

    &__username {
        font-size: 0.8em;
        margin: 2px 0;
        opacity: 0.6;
        grid-column: col_left;
    }

    &__email {
        font-size: 0.8em;
        color: $blue;
        grid-column: col_left;

        @media screen and (min-width: 960px) {
            text-align: right;
            grid-column: col_right;
            align-self: center;
            grid-row: 1 / span 2;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &:hover {
        box-shadow: 0 0 20px rgba($dark, 0.2);
        z-index: 1;
    }
}
</style>