<template>
    <div class="user-info">
        <h3 class="user-info__title" v-text="title"></h3>
        
        <!-- Contact Info -->
            <div class="user-info__item">
                <a v-if="email" v-text="email" :href="`mailto:${email}`"></a>
            </div>
            <div class="user-info__item">
                <a v-if="phone" v-text="phone" :href="`tel:${phone}`"></a>
            </div>
            <div class="user-info__item">
                <a v-if="website" v-text="website" :href="website" target="_blank"></a>
            </div>
        <!-- .Contact Info -->

        <!-- Address -->
            <p class="user-info__item" v-text="address" v-if="address"></p>
        <!-- .Address -->

        <!-- Company -->
            <div v-if="company">
                <p class="user-info__item" v-text="company.name"></p>
                <p class="user-info__item" v-text="company.bs"></p>
                <div class="user-info__item">
                    <blockquote>
                        <Quote size="25" color_left="#0058ff" color_right="#7153ff" />
                        <p v-text="company.catchPhrase"></p>
                    </blockquote>
                </div>
            </div>
        <!-- .Company -->
    </div>
</template>

<script>
import Quote from "@/icons/Quote"

export default {
    components: {
        Quote
    },

    props: {
        title: {
            type: String,
            required: true
        },
        email: String,
        phone: String,
        website: String,
        company: Object,
        address: String,
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/__colors";

.user-info {
    background-color: $white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba($dark, 0.2);

    &__title {
        font-size: 1em;
        margin-bottom: 15px;
    }

    &__item {
        font-size: .8em;
        display: block;
        margin-bottom: 10px;
        margin-bottom: 5px;
        line-height: 1.6;
    }

    .dark & {
        background-color: rgba($white, 0.06);
    }
}
</style>