<template>
  	<main id="app" :class="GET_DARK_MODE && 'dark'">
		<Header />
		
		<section class="content">
			<div class="wrapper">
				<router-view />
			</div>
		</section>

		<Footer />
  	</main>
</template>

<script>
import { mapGetters } from "vuex"
import Header from "@/components/Header.vue"
import Footer from "@/components/Footer.vue"

export default {
	name: "App",

	components: {
    	Header,
		Footer
	},

	computed: {
    	...mapGetters(["GET_DARK_MODE"]),
  	},
}
</script>

<style lang="scss">
@import "@/assets/css/normalize";
@import "@/assets/scss/main";
</style>
